<div class="interactive-area" ng-controller="ScrollGameCtrl" click-effect="">
	<div class="container" >        
	    <div class="row-fluid">
	    	<!-- STEP 1 - présentation du jeu -->
	         <div class="introduction span8 offset2" ng-show="checkStep(1)">
	            <div class="introduction-wrapper" ng-show="checkForScreen('intro')">
	                <header>
	                    <h1> Scroll Game </h1>
	                </header>
	                <div class="content">
	                    <p>Tap / clique le plus possible dans le temps imparti! Le plus bourrins gagne</p>   	                                  
<!-- 		                <div class="score">
		                	<ul>
		                		<li ng-repeat="(key, sco) in score"> Player {{key}} : {{sco}}</li>
		                	</ul>
		                </div> -->
	                </div>         

	                <footer>
	                    <p>
	                    	<a href="" class="btn btn-primary btn-huge" ng-hide="is_playing" ng-click="playTapTap()" ng-init-scroll='.test_2'> 
	                    		commencer le jeu ! 
	                    	</a>
	                    </p>
	                  
	                  <p class="small light">joueur {{actual_player}}: à toi de jouer</p>
	              </footer>               
	          </div>



	          <!-- DIV SHOW IF NOT PLAYER 1 WHICH PLAY -->
	          <div class="introduction-wrapper" ng-show="checkForScreen('intermediate')">
	                <header>
	                    <h1 ng-hide="score_are_equal">Premier round fini !</h1>
	                    <h1 ng-show="score_are_equal"> Egalité </h1>
	                </header>
	                <div class="content">
	                    <p>Ton score: <span class="score">{{score[previous_player]}}</span> points</p> 

	                    <p ng-show="score_are_equal">
	                		<span ng-repeat="(player, sc) in score"> Joueur {{player}}, </span> sont à égalités ! C'est reparti pour un tour
	                	</p>	                                  
	                </div>         

	                <footer>
	                    <p>
	                    	<a href="" class="btn btn-primary btn-huge" ng-hide="is_playing || score_are_equal" ng-click="playTapTap()"> 
	                    		Deuxième round ! 
	                    	</a>

	                    	<a href="" class="btn btn-primary btn-huge" ng-show="score_are_equal" ng-click="playTapTap()"> 
	                    		C'est reparti
	                    	</a>
	                    </p>
	                  
	                  <p class="small light">joueur {{actual_player}}: à toi de jouer</p>
	              </footer>               
	          </div>
	      </div>

	      <!-- STEP 2 - décompte avant le jeu -->
	      <div class="span8 offset2" ng-show="checkStep(2)">
	      	<p class="timer-before-start" ng-show="is_playing && count_down != 0"> {{count_down}}s.</p>
	      </div>


	      <!-- STEP 3 - écran de jeu -->
	      <div class="sreen-game tap-tap" ng-show-class="checkStep(3)"  >
	        <div class="count">
	            <span> {{score[actual_player]}} </span>
	        </div>

	        <div class="timer-during-game">
	        	{{timer_show}}s.
	        </div>

	        <!-- SCREEN WHICH IS SCROLLABLE -->
	        <!-- POSITION FIXED WITH HEIGHT MORE LITTLE THAN THE WINDOW TO PERMIT THE SCROLL -->
	        <div class="test_2" ng-scroll-action="saveProgress()" style="position:fixed;top:10px; width:100%; left:0%; background:blue;padding:100px 0 0 0;">
	        	<!-- THIS DIV IS THE RED CUBE TO SEE WHERE YOU ARE WHEN YOU SCROLL -->
	        	<div style="width:30px;height:30px;top:80px;left:45%;background:red;position:fixed;"></div>
	        	<!-- THIS UL IS THE RACETRACK -->
	        	<ul style="margin:0;">
	        		<li ng-repeat="i in counter" style="height:99px;color:white; border-top:1px white solid;"> {{i.distance}}</li>
	        	</ul>
	        </div>
	        

	        <ul class="gauge">
	            <li ng-repeat="n in [] | range: level_jauge" class="level-{{n}}"></li>
	            <!-- <li class="level-2"></li>
	            <li class="level-3"></li>
	            <li class="level-4"></li>
	            <li class="level-5"></li>
	            <li class="level-6"></li> -->
	        </ul>
	        <p class="light small instruction">Tap !!</p>
	      </div>

	      <!-- STEP 5 - score finaux--> 
         <!-- <div class="introduction span8 offset2" ng-show="checkStep(1)">
            <div class="introduction-wrapper">
                <header>
                    <h1>Premier round fini !</h1>
                </header>
                <div class="content">
                    <p>Ton score: <span class="score">7</span> points</p>   	                                  
                </div>         

                <footer>
                    <p>
                    	<a href="" class="btn btn-primary btn-huge" ng-hide="is_playing" ng-click="playTapTap()"> 
                    		Deuxième round ! 
                    	</a>
                    </p>
                  
                  <p class="small light">joueur {{actual_player}}: à toi de jouer</p>
              </footer>               
          </div>
      </div> -->

	      <!-- STEP 5 - score finaux -->
	  	
	  	  <div class="span8 offset2" ng-show="checkStep(4)">
	  	  	<div class="winner">
	                <header>
	                    <h1>Résultats:</h1>
	                </header>
	                <div class="content">
	                    <p ng-repeat="(key, sco) in score">Joueur {{key}}: <span class="score">{{sco}}</span> points</p>   	                                  
	                	<h6>Houra ! Joueur {{win_player}} remporte la victoire !</h6>        
	                </div> 


	                <footer>
	                    <p>
		                	<a href="" class="btn btn-primary btn-huge" ng-click="gameOver()"> 
		                		Reprendre les gages 
		                	</a>
	                    </p>
	              </footer>   

            </div> 
	  	  </div>
	  </div>
	</div>
</div> 
