<!--<section class="sub-bar">
  <div class="clear"></div>
</section>-->

<section class="box playground">
  <div class="card is-not-revealed">
    <p class="category">bois</p>
    <p class="smiley">:)</p>
    <div class="first-background-color"></div>
    <div class="first-background-image"></div>
    <div class="second-background-color"></div>
    <div class="second-background-image"></div>
  </div>  
  <div class="card default is-revealed">
    <p class="category">couleur test</p>
    <p class="smiley">:)</p>
    <div class="first-background-color"></div>
    <div class="first-background-image"></div>
    <div class="second-background-color"></div>
    <div class="second-background-image"></div>
  </div> 
  <div class="card is-revealed">
    <p class="category">couleur test</p>
    <p class="smiley">:)</p>
    <div class="first-background-color"></div>
    <div class="first-background-image"></div>
    <div class="second-background-color"></div>
    <div class="second-background-image"></div>
  </div>  
  <section class="pledges">
    <article data-ng-repeat="pledge in current_pledges">
      <h2>{{ pledge.title }}</h2>
      <p class="description">{{ pledge.description }}</p>
    </article>
  </section>
  <section class="categories">
    <ul>
      <li data-ng-repeat="category in current_categories">
        {{ category.title }}
      </li>
    </ul>
  </section>

  <form class="action" data-ng-submit="getPledge()">
    <button type='submit' class="btn btn-primary is-huge">Joue !</button>
    <p class="time-played light">{{nb_play}} tours joués</p>
  </form>
  <div class="clear"></div>
</section>

<section class="box activities" data-ng-show="history_pledges_play.length > 0">
  <table class="table">
    <tbody data-ng-repeat="pledge in history_pledges_play">
      <tr>
        <td class="rank">#{{pledge.turn}}</td>
      </tr>     
    </tbody>
  </table>
</section>