@media #{$break-phone} {
	$phone-gutter: 10px;
	header {
		.logo {
			text-align: center;
			padding: 0;
		}
		height: 44px;
	}
	.playground {
		h1 {
			font-size: 18px;
			line-height: 18px;
		}
		p {
			padding-bottom: 0;
		}
		.action {
			width: 100%;
			float: none;
			position: fixed;
			padding:0;
			margin: 0;
			bottom: 0;
			left: 0;

			border-top: $background-color-dark solid 1px;
			background: $background-color;
			@include box-shadow(rgba(0,0,0,0.55) 0px -2px 1px);
			.btn {
				display: block;
				width: 90%;
				margin: 5px auto;
				padding: 5px inherit;

				font-size: 25px;

			}
		}
		.time-played {
			display: none;
		}
	}
	.playground.box, .activities {
		margin: $phone-gutter; 

		padding: $phone-gutter; 
	}
	.activities {
		margin-bottom: 51px;
		td.rank, td.rule {
			padding: 6px 10px;
			font-weight: bold;
		}
		td.rule {
			padding: 6px 0 6px 10px;
		}
	}
}
@media (max-width: 767px) {

  // Padding to set content in a bit
  body {
    padding-left: 00px;
    padding-right: 00px;
  }
	.row-fluid [class*="span"] {

		float: left;
	}
}