@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700);
/* line 42, sprites/*.png */
.sprites-sprite, .sprites-Swally-logo, header h1 {
  background: url('/images/sprites-sdd5f21941a.png') no-repeat;
}

/* line 60, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-Swally-logo {
  background-position: 0 0;
}

/* line 3, ../sass/_base.scss */
body {
  background: #f7eee2;
}

/* line 7, ../sass/_base.scss */
* {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 13, ../sass/_base.scss */
body, p {
  margin: 0;
  padding-bottom: 10px;
  font-family: 'Merriweather', georgia, arial;
  font-size: 16px;
  line-height: 1.5em;
  color: #666666;
}

/* line 24, ../sass/_base.scss */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 10px 0 10px 0;
  font-family: 'Merriweather', georgia, arial;
  font-weight: 900;
}

/* line 30, ../sass/_base.scss */
h1, .h1 {
  color: #ff7d13;
  font-size: 40px;
  line-height: 40px;
}

/* line 36, ../sass/_base.scss */
h2, .h2 {
  color: #ff7d13;
  font-size: 30px;
  line-height: 40px;
}

/* line 41, ../sass/_base.scss */
h3, .h3 {
  color: #0b9999;
  font-size: 24px;
  line-height: 40px;
}

/* line 46, ../sass/_base.scss */
h4, .h4 {
  color: #0b9999;
  font-size: 20px;
  line-height: 20px;
}

/* line 51, ../sass/_base.scss */
h5, .h5 {
  color: #565656;
  font-size: 18px;
  line-height: 20px;
}

/* line 56, ../sass/_base.scss */
h6, .h6 {
  color: #565656;
  font-size: 16px;
  line-height: 20px;
}

/* line 62, ../sass/_base.scss */
a {
  padding-bottom: 1px;
  color: #ff7d13;
  text-decoration: none;
}
/* line 67, ../sass/_base.scss */
a:hover {
  padding-bottom: 0;
  color: #ff7d13;
  border-bottom: solid 1px #ff7d13;
}
/* line 73, ../sass/_base.scss */
a:active {
  padding-bottom: 0;
  background: #f7eee2;
  border-bottom: solid 1px #d96a10;
  color: #d96a10;
}

/* line 81, ../sass/_base.scss */
ul, li {
  list-style: none;
  padding-left: 0;
}

/* line 85, ../sass/_base.scss */
table {
  width: 100%;
  padding: 0;
  margin: 0;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 93, ../sass/_base.scss */
td {
  vertical-align: top;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
}

/* line 2, ../sass/_module.scss */
.primary-gradient, .btn.btn-primary, header {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff9036), color-stop(100%, #ff7d13));
  background-image: -webkit-linear-gradient(#ff9036, #ff7d13);
  background-image: -moz-linear-gradient(#ff9036, #ff7d13);
  background-image: -o-linear-gradient(#ff9036, #ff7d13);
  background-image: linear-gradient(#ff9036, #ff7d13);
}

/* line 5, ../sass/_module.scss */
.classic-gradient, .btn {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f0f0f0));
  background-image: -webkit-linear-gradient(#ffffff, #f0f0f0);
  background-image: -moz-linear-gradient(#ffffff, #f0f0f0);
  background-image: -o-linear-gradient(#ffffff, #f0f0f0);
  background-image: linear-gradient(#ffffff, #f0f0f0);
}

/* line 9, ../sass/_module.scss */
.classic-shadow, .tag, header {
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 1px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 1px;
}

/* line 12, ../sass/_module.scss */
.no-shadow, .tag.is-disabled {
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
}

/* line 16, ../sass/_module.scss */
.rounded, .box, .tag {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

/* line 20, ../sass/_module.scss */
.small, .tag {
  font-size: 0.8em;
  line-height: 1.4em;
}

/* line 25, ../sass/_module.scss */
.very-small {
  font-size: 0.6em;
  line-height: 1.3em;
}

/* line 30, ../sass/_module.scss */
.light {
  color: #939392;
}

/* line 34, ../sass/_module.scss */
.clear, .clearfix {
  clear: both;
}

/* line 38, ../sass/_module.scss */
.box {
  padding: 30px;
  margin-bottom: 30px;
  border: solid 1px #d3cbc0;
  background: #fffcf7;
  -webkit-box-shadow: rgba(0, 0, 0, 0.55) 0px 2px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.55) 0px 2px 1px;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 2px 1px;
}

/* line 47, ../sass/_module.scss */
.tag {
  margin: 0 10px 0 0;
  padding: 2px 13px;
  display: inline-block;
  font-weight: 700;
  color: #ffffff;
  background-color: #0b9999;
}
/* line 59, ../sass/_module.scss */
.tag:hover {
  cursor: pointer;
  background-color: #0a8989;
}
/* line 63, ../sass/_module.scss */
.tag:active, .tag.is-active {
  background-color: #0a8989;
  -webkit-box-shadow: white 0px 1px 1px;
  -moz-box-shadow: white 0px 1px 1px;
  box-shadow: white 0px 1px 1px;
  color: #fff6eb;
}

/* line 70, ../sass/_module.scss */
.sub-bar {
  padding: 30px;
  background: #f1e8dd;
  border-bottom: 1px solid #d3cbc0;
}

/* line 77, ../sass/_module.scss */
.btn {
  display: inline-block;
  padding: 4px 12px;
  border: solid 1px #d3cbc0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.55) 0px 2px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.55) 0px 2px 1px;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 2px 1px;
  font-weight: 700;
  text-align: center;
}
/* line 89, ../sass/_module.scss */
.btn.btn-primary {
  border: solid 1px #d96a10;
  color: #fff6eb;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0px 2px 5px, #ffcba1 0 1px 1px 0px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.75) 0px 2px 5px, #ffcba1 0 1px 1px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 2px 5px, #ffcba1 0 1px 1px 0px inset;
  text-shadow: 0px -1px 2px rgba(0, 0, 0, 0.7);
}
/* line 97, ../sass/_module.scss */
.btn.btn-primary:hover {
  cursor: pointer;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffa459), color-stop(100%, #ff9036));
  background-image: -webkit-linear-gradient(#ffa459, #ff9036);
  background-image: -moz-linear-gradient(#ffa459, #ff9036);
  background-image: -o-linear-gradient(#ffa459, #ff9036);
  background-image: linear-gradient(#ffa459, #ff9036);
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0px 2px 5px, #ffdec4 0 1px 1px 0px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.75) 0px 2px 5px, #ffdec4 0 1px 1px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 2px 5px, #ffdec4 0 1px 1px 0px inset;
}
/* line 102, ../sass/_module.scss */
.btn.btn-primary:active {
  -webkit-box-shadow: white 0px 1px 1px, #ffcba1 0 1px 1px 0px inset;
  -moz-box-shadow: white 0px 1px 1px, #ffcba1 0 1px 1px 0px inset;
  box-shadow: white 0px 1px 1px, #ffcba1 0 1px 1px 0px inset;
}

/* line 109, ../sass/_module.scss */
.table tr, .table th {
  background-color: white;
}
/* line 112, ../sass/_module.scss */
.table tbody:nth-child(odd) td, .table tbody:nth-child(odd) th {
  background-color: #fffcf7;
}
/* line 115, ../sass/_module.scss */
.table tbody, .table tr {
  vertical-align: middle;
}
/* line 119, ../sass/_module.scss */
.table tbody:first-child td {
  border: none;
}
/* line 123, ../sass/_module.scss */
.table td {
  display: table-cell;
  padding: 12px;
  border-top: solid 1px #f1e8dd;
  text-align: left;
}

/* line 2, ../sass/_layout.scss */
header {
  width: 100%;
  height: 54px;
  position: relative;
  z-index: 100;
  border-bottom: solid 1px #ffcba1;
}
/* line 12, ../sass/_layout.scss */
header h1 {
  display: inline-block;
  height: 34px;
  width: 137px;
  vertical-align: middle;
  text-align: center;
  background-position: 0 0;
}
/* line 21, ../sass/_layout.scss */
header td {
  height: 100%;
  vertical-align: middle;
}
/* line 25, ../sass/_layout.scss */
header .logo {
  width: 140px;
  padding: 3px 30px 0 30px;
}
/* line 29, ../sass/_layout.scss */
header .quote {
  padding-left: 30px;
}
/* line 33, ../sass/_layout.scss */
header .user {
  text-align: right;
  padding-right: 60px;
}
/* line 37, ../sass/_layout.scss */
header p, header a, header span {
  vertical-align: middle;
  color: #ffffff;
  padding-bottom: 0;
}

/* line 44, ../sass/_layout.scss */
.navigation {
  width: 140px;
  padding: 30px;
  background: #e8dfd3;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) -2px 3px 3px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) -2px 3px 3px inset;
  box-shadow: rgba(0, 0, 0, 0.25) -2px 3px 3px inset;
}
/* line 50, ../sass/_layout.scss */
.navigation a {
  display: inline-block;
  padding: 5px 15px 6px 15px;
}
/* line 53, ../sass/_layout.scss */
.navigation a:hover {
  padding-bottom: 5px;
}

/* line 60, ../sass/_layout.scss */
.main-content {
  padding: 0px;
  border-left: 1px solid #fffcf7;
}
/* line 63, ../sass/_layout.scss */
.main-content .box {
  margin: inherit 30px 30px 30px;
}
/* line 66, ../sass/_layout.scss */
.main-content .activities {
  padding: 0;
}

/* line 70, ../sass/_layout.scss */
.playground {
  margin: 30px;
}
/* line 72, ../sass/_layout.scss */
.playground .name {
  font-size: 16px;
  font-weight: 400;
}
/* line 76, ../sass/_layout.scss */
.playground .content {
  width: 75%;
  float: left;
  padding-right: 5%;
}
/* line 81, ../sass/_layout.scss */
.playground .action {
  width: 20%;
  float: left;
}
/* line 85, ../sass/_layout.scss */
.playground .btn {
  width: 100%;
  padding: 30px 0;
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: 700;
}
/* line 93, ../sass/_layout.scss */
.playground .time-played {
  text-align: center;
}

/* line 97, ../sass/_layout.scss */
.activities {
  overflow: hidden;
  margin: 0 30px;
}
/* line 100, ../sass/_layout.scss */
.activities .rank {
  width: 20px;
  padding: 12px 30px;
  color: #0b9999;
  font-weight: 700;
}
/* line 107, ../sass/_layout.scss */
.activities .rule {
  padding-left: 0;
}

/* line 114, ../sass/_layout.scss */
.sub-bar .label {
  font-weight: 400;
  color: #666666;
}
/* line 118, ../sass/_layout.scss */
.sub-bar .filter {
  margin-right: 60px;
  float: left;
}
/* line 121, ../sass/_layout.scss */
.sub-bar .filter:last-child {
  margin-right: 0;
}

/* line 1, ../sass/_state.scss */
.tag.is-disabled {
  background: #0b9999;
}

@media only screen and (max-width: 600px) {
  /* line 3, ../sass/_responsive.scss */
  header {
    height: 44px;
  }
  /* line 4, ../sass/_responsive.scss */
  header .logo {
    text-align: center;
    padding: 0;
  }

  /* line 11, ../sass/_responsive.scss */
  .playground h1 {
    font-size: 18px;
    line-height: 18px;
  }
  /* line 15, ../sass/_responsive.scss */
  .playground p {
    padding-bottom: 0;
  }
  /* line 18, ../sass/_responsive.scss */
  .playground .action {
    width: 100%;
    float: none;
    position: fixed;
    padding: 0;
    margin: 0;
    bottom: 0;
    left: 0;
    border-top: #e8dfd3 solid 1px;
    background: #f7eee2;
    -webkit-box-shadow: rgba(0, 0, 0, 0.55) 0px -2px 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.55) 0px -2px 1px;
    box-shadow: rgba(0, 0, 0, 0.55) 0px -2px 1px;
  }
  /* line 30, ../sass/_responsive.scss */
  .playground .action .btn {
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 5px inherit;
    font-size: 25px;
  }
  /* line 40, ../sass/_responsive.scss */
  .playground .time-played {
    display: none;
  }

  /* line 44, ../sass/_responsive.scss */
  .playground.box, .activities {
    margin: 10px;
    padding: 10px;
  }

  /* line 49, ../sass/_responsive.scss */
  .activities {
    margin-bottom: 51px;
  }
  /* line 51, ../sass/_responsive.scss */
  .activities td.rank, .activities td.rule {
    padding: 6px 10px;
    font-weight: bold;
  }
  /* line 55, ../sass/_responsive.scss */
  .activities td.rule {
    padding: 6px 0 6px 10px;
  }
}
