ul.breadcrumb
    li
       a(href='/') Home
       span.divider /
    li
       != linkTo('categories', pathTo.categories())
       span.divider /
    li.active
       a(href='#') New category

.page-header
  h1 New category

- var form = formFor(category, {action: pathTo.categories(), method: 'POST', id: "category_form", class: 'form-horizontal'})

!= form.begin()
include _form
.form-actions
  != form.submit('<i class="icon-ok icon-white"></i>  Create category', {class: 'btn btn-primary'})
  span= ' or '
  != linkTo('Cancel', pathTo.categories(), {class: 'btn'})
!= form.end()